<script setup lang="ts">
import { ref } from 'vue'
import { mdiWeatherSunny, mdiWeatherNight,mdiFolder,mdiAccountMultiple,mdiStar } from '@mdi/js'
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
const theme = ref('light')

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light" ;
}
const logout = () => {
  loginStore.logout();
};
</script>


<template>
    <v-app :theme="theme">
        <v-app-bar>
            <v-spacer></v-spacer>

            <v-btn :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight" 
            @click="onClick">
            Toggle Theme</v-btn
            >
            <v-btn @click="logout">Logout</v-btn>
        </v-app-bar>
        <v-navigation-drawer expand-on-hover rail permanent>
            <v-list>
                <v-list-item prepend-avatar="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.18169-9/11426724_825304484225759_2203609562747635577_n.png?_nc_cat=109&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=Nvqpex7gHv8AX8-0FAm&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDuFyL8eJF4VSoWw_TW0PVBY6SkI20DPsI5Hvf1kSfE1w&oe=63C9C447" 
                :title="loginStore.loginName"
                  subtitle="63160185@go.buu.ac.th"></v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list density="compact" nav>
                <v-list-item :prepend-icon="mdiFolder" title="My Files" value="myfiles"></v-list-item>
                <v-list-item :prepend-icon="mdiAccountMultiple" title="Shared with me" value="shared"></v-list-item>
                <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred"></v-list-item>
            </v-list>
  </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view></v-container>
    </v-main>
  </v-app>
</template>
